body{
    background-color: #1e3052;
    
}

.contenedor-form{
    background-color: #030303;
    width: 28%;
    margin: 8% 36%;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

h1{
    color: #ff4500;
    margin: 15% 0;
    font-size: 40px;
    font-family: 'Gabarito', sans-serif;
}

#formulario {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contenedor-name{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
}

#contenedor-name div{
    width: 48%;
}

#contenedor-name input{
    margin-left: 3%;
}

.inputs2{
    width: 90%;
    display: flex;
    flex-direction: column;
}


.inputs2 div{
    color: aliceblue;
    width: 99%;
    border: 0;
    height: 50px;
    border: 2px solid #7a2303;
    margin-bottom: 5%;
    border-radius: 5px;
}

.inputs2 div:focus-within{
    border: 2px solid #ff4500;
}


.inputs2 input{
    background-color: #030303;
    color: rgb(167, 174, 180);
    width: 80%;
    border: 0;
    outline: none;
    font-size: 16px;
    height: 45px;
}
::placeholder{
    color: #293957;
    font-family: 'Gabarito', sans-serif;
    font-size: 1.2rem;
}

.icon{
    color: #ff4500;
    font-size: 25px;
    margin-left: 3%;
    margin-right: 1%;
}

.contenedor-button{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 5% 0 5% 0;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff4500;
    background-color: #000000 ;
    border: 2px solid #7a2303;
    width: 100%;
    height: 3em;
    font-size: 1.1rem;
    font-family: 'Gabarito', sans-serif;
    border-radius: 8px;
    text-decoration: none;
}

.buttons:hover{
    background-color: #ff4500;
    border: 2px solid #000000;
    color: #000000;
    cursor: pointer;
    
}

.login{
    color: #23385f;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    margin: 2% 0 15% 0;
}

.login a{
    color: #ff4500;
}