
body{
    background-color: #1e3052;
    
}

.contenedor-form{
    background-color: #030303;
    width: 25%;
    margin: 11% 36%;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

h1{
    color: #ff4500;
    margin: 15% 0;
    font-size: 40px;
    font-family: 'Gabarito', sans-serif;
}

#formulario {
    width: 70%;
}

.inputs{
    border: 2px solid #7a2303;
    margin-bottom: 5%;
    border-radius: 5px;
}

.inputs:focus-within{
    border: 2px solid #ff4500;
}


.inputs input{
    background-color: #030303;
    color: rgb(167, 174, 180);
    width: 80%;
    border: 0;
    outline: none;
    font-size: 16px;
    height: 50px;
}

::placeholder{
    color: #293957;
    font-family: 'Gabarito', sans-serif;
    font-size: 1.2rem;
}

.icon{
    color: #ff4500;
    font-size: 25px;
    margin-left: 3%;
    margin-right: 1%;
}

.contenedor-button{
    display: flex;
    justify-content: space-between;
    margin: 15% 0 5% 0;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #7a2303 ; */
    background-color: black ;
    width: 47%;
    height: 3em;
    font-size: 1.1rem;
    font-family: 'Gabarito', sans-serif;
    border-radius: 8px;
    border: 2px solid #7a2303;
    text-decoration: none;
    color: #ff4500;
}


.buttons:hover{
    background-color: #ff4500;
    border: 2px solid #030303;
    color: #000000;
    cursor: pointer;
    
}

.recuperar-contraseña{
    color: #23385f;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    margin: 3% 0 15% 0;
    text-decoration: none;
}

.recuperar-contraseña:hover{
    color: #34528b;

}